[submodule "modules/jdk_oracle"]
	path = modules/jdk_oracle
	url = https://github.com/tylerwalts/puppet-jdk_oracle.git
[submodule "modules/archive"]
	path = modules/archive
	url = https://github.com/voxpupuli/puppet-archive.git
[submodule "modules/staging"]
	path = modules/staging
	url = https://github.com/voxpupuli/puppet-staging.git
[submodule "modules/jira"]
	path = modules/jira
	url = https://github.com/ffquintella/puppet-jira.git
[submodule "modules/alternatives"]
	path = modules/alternatives
	url = https://github.com/voxpupuli/puppet-alternatives.git
[submodule "modules/java"]
	
        path = modules/java
	
        url = https://github.com/puppetlabs/puppetlabs-java.git
